@import './../../scss/vars';

.header {
    // background: grey;

    .container {
        display: flex;

        .cart {
            position: fixed;
            top: 25px;
            left: 80%;
            // width: 25px;
            // height: 25px;
            // background: url(../../images/basket-icon.png);
            z-index: 999;
        }

    }
}